<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Appy Leave</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form name="applyLeaveform">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Leave Type</label>
          <md-select ng-model="leave.type" ng-required="true" name="type" id="type">
            <md-option ng-repeat="leaveType in leaveTypes" value="{{leaveType.Id}}" >
              {{leaveType.Leave_Type__c}}
            </md-option>
          </md-select>

        </md-input-container>

        <md-datepicker class="md-block" ng-model="leave.fromDate" md-placeholder="From date" md-min-date="minDate"></md-datepicker>

        <md-datepicker class="md-block" ng-model="leave.toDate" md-placeholder="To date" md-min-date="leave.fromDate"></md-datepicker>



        <md-input-container class="md-block">
          <label>Reason</label>
          <textarea ng-model="leave.reason" md-maxlength="500" ng-maxlength="500" rows="5" md-select-on-focus></textarea>
        </md-input-container>

        <div style="color:red">{{errMsg}}</div>
        <div style="color:green">{{successMsg}}</div>
        <md-button class="md-raised md-primary" ng-click="requestLeave();" >Apply</md-button>
        <!-- <md-button flex="10" class="md-raised md-primary" ng-click="applyLeave();">Apply</md-button> -->
      </form>
    </div>
  </md-dialog-content>
</md-dialog>

