<div layout="row">
  <div flex="88">
    <md-toolbar>
      <div class="col s1">
        <img class="responsive-img" src="img/logo.png" style="height:45px">
      </div>
    </md-toolbar>
  </div>
  <div>
    <md-toolbar>
      <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
        <md-tooltip>Menu</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
      </md-button>
    </md-toolbar>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left">
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <h2>
            <span>{{empData.Employee__r.Employee_First_Name__c}}</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
            <md-tooltip>Close Side Panel</md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
          </md-button>
        </div>
      </md-toolbar> 
      <md-content layout-padding="">
        <md-list>
          <md-list-item ng-click="viewProfile($event)">
            <md-icon class="md-default-theme" class="material-icons">&#xE87C;</md-icon>
            <p>My Profile</p>
          </md-list-item>
          <md-list-item ng-click="applyLeave($event)">
            <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
            <p>Apply Leave</p>
          </md-list-item>
          <md-list-item ng-click="userLogout();">
            <md-icon class="md-default-theme" class="material-icons">&#xE879;</md-icon>
            <p>Logout</p>
          </md-list-item>
        </md-list>
      </md-content> 
    </md-sidenav>
  </div>

</div>
<div layout="row" layout-xs="column">
  <div flex>
    <md-tabs md-dynamic-height md-border-bottom>
     <md-tab label="My Leaves">
      <md-card md-theme="red">
       <md-list>
        <md-list-item>
         <span flex="20"><b>Leave dates</b></span>
         <span flex="50"><b>Subject</b></span>
         <span flex="10"><b>No of days</b></span>
         <span flex="10"><b>Type</b></span>
         <span flex="10"><b>Status</b></span>
         <md-divider/>
       </md-list-item>
       <md-list-item ng-repeat="(key, leave) in myLeaves" ng-click="viewLeave($event,leave)" ng-if="myLeaves.length > 0">
         <span flex="20">{{leave.From_Date__c | date:'MMM dd, yyyy'}} <br> {{leave.To_Date__c | date:'MMM dd, yyyy'}}</span>
         <span flex="50">{{leave.Reason__c | limitTo: 50 }}{{leave.Reason__c.length > 50 ? '...' : ''}}</span>
         <span flex="10">{{leave.Number_of_days__c}}</span>
         <span flex="10">{{leave.Leave_Type__c}}</span>
         <span flex="10">{{leave.Status__c}}</span>
         <md-divider/>          
       </md-list-item>

       <md-list-item ng-if="myLeaves.length === 0">
         No leaves found...
       </md-list-item>

     </md-list>
   </md-card>
 </md-tab>
 <md-tab label="Leave Requests" ng-if="isSupervisor !== null">
  <md-card>
    <md-list>
      <md-list-item>
       <span flex="20"><b>Leave Dates</b></span>
       <span flex="45"><b>Subject</b></span>
       <span flex="15"><b>Applied By</b></span>
       <span flex="10"><b>Applied Date</b></span>
       <span flex="10"><b>Status</b></span>
       <md-divider/>
     </md-list-item>
     <md-list-item ng-repeat="(key, leave) in teamLeaves" ng-click="viewLeave($event,leave)" ng-if="teamLeaves.length > 0">
       <span flex="20">{{leave.From_Date__c | date:'MMM dd, yyyy'}} <br> {{leave.To_Date__c | date:'MMM dd, yyyy'}}</span>
       <span flex="45">{{leave.Reason__c | limitTo: 50 }}{{leave.Reason__c.length > 50 ? '...' : ''}}</span>
       <span flex="15">{{leave.Employee__r.Employee_Name__c}}</span>
       <span flex="10">N/A</span>
       <span flex="10">{{leave.Status__c}}</span>
       <md-divider/>
     </md-list-item>
     <md-list-item ng-if="teamLeaves.length === 0">
       No leaves found...
     </md-list-item>
   </md-list>
 </md-card>
</md-tab>
</md-tabs>
</div>
</div>    